<template>
  <div class="home flex flex-col w-full 2xl:w-3/4 mt-6 md:mt-6 lg:mt-12 pt-18 md:pt-24" id="view">
    <span class="text-5xl">404</span>
  	<Heading size="Diese Seite existiert leider nicht"></Heading> 
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Heading,
    Paragraph,
  },

  mounted () {
  	this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', true)

  	if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>