<template>
  <div class="view fixed top-15 md:top-18 overflow-y-scroll overflow-x-hidden bottom-0 inset-x-0">
    <div class="flex flex-col w-full pt-6 md:pt-10" id="view">
    	<!--<Hero /> -->

    	<Heading size="1">
      	Anmeldung zur Untersuchung
      </Heading>

      <Paragraph>
        Für Röntgen- und Ultraschalluntersuchungen ist eine Anmeldung sinnvoll!
      </Paragraph>

      <div class="grid grid-cols-1 xl:grid-cols-3 gap-12 mb-8 mx-2 md:mx-6 lg:mx-12">
        <div class="flex flex-col">
          <Heading size="2" disableSpacing class="mb-6">
            Warum?
          </Heading>

          <Paragraph disableMaxWidth disableSpacing>
            Manche Untersuchungen erfordern eine Vorbereitung (z.B. Nahrungskarenz). Untersuchungen werden an unterschiedlichen Geräten durchgeführt und benötigen einen unterschiedlichen Zeitaufwand. Außerdem muss bei mehreren Untersuchungen meistens ein gewisser Untersuchungsablauf eingehalten werden.
          </Paragraph>
        </div>

        <div class="flex flex-col">
          <Heading size="2" disableSpacing class="mb-6">
            Wie?
          </Heading>

          <List disableSpacing>
            <ListItem>
              Telefonisch unter <a class="text-primary" href="tel:004319113805">01 / 911 38 05</a>
            </ListItem>

            <ListItem>
              Persönlich in der Ordination
            </ListItem>
          </List>
        </div>

        <div class="flex flex-col">
          <Heading size="2" disableSpacing class="mb-6">
            Wann?
          </Heading>

          <Paragraph disableSpacing>
            Montag bis Freitag, 8:00 &ndash; 18:00
          </Paragraph>
        </div>
      </div>

      <Paragraph>
        Für die Durchführung einer Untersuchung ist üblicherweise eine <span class="font-medium">Röntgen-/Ultraschallüberweisung</span> eines Arztes sowie Ihre E-Card erforderlich (Ausnahme: Privatpatienten).<br /><br />

        Für Patientinnen des Brustkrebs-Früherkennungsprogramms genügen die Einladung und die E-Card, für Patientinnen zwischen dem 45. und dem 69. Lebensjahr reicht die E-Card alleine, es ist keine Einladung notwendig! Bitte versichern Sie sich unter der gebührenfreien Telefonnummer <a class="text-primary wrap-none" href="tel:0043800500181">0800&nbsp;500&nbsp;181</a>, dass Sie für die Untersuchung „freigeschaltet“ sind!<br /><br />

        Auf der Seite <router-link class="text-primary" to="/de/mammographie">Mammographie</router-link> finden Sie dazu nähere Informationen.<br /><br />

        Bei Überweisungen von Wahlärzten, Privatärzten ist in unserem Institut kein Umschreiben beim Hausarzt notwendig!<br /> <br />

        <span class="font-medium">
          Halten Sie bitte beim Telefonat mit uns die Zuweisung bereit, um Rückfragen der Assistentin bei der Anmeldung beantworten zu können.<br /> <br />

          Haben Sie die Zuweisung vergessen/verloren/bei Zeitüberschreitung wird die Untersuchung trotzdem durchgeführt, die Unterlagen werden nachgereicht.<br /> <br />
          
          <span class="italic">Ein Geldeinsatz ist nicht erforderlich!</span>
        </span>
      </Paragraph>

    	<Footer />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
  },

  mounted () {
  	this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)

  	if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>