<template>
  <div class="view fixed top-15 md:top-18 overflow-y-scroll overflow-x-hidden bottom-0 inset-x-0">
    <div class="flex flex-col w-full pt-6 md:pt-10" id="view">
    	<!--<Hero /> -->

    	<Heading size="1">
      	Ihre Befunde &ndash; rasch, kompetent und zuverlässig
      </Heading>

      <Paragraph class="">
      	Jede durchgeführte Untersuchung wird in Form von Bildern dokumentiert. Unsere Bildgebung erfolgt sowohl für Röntgenuntersuchungen als auch für Ultraschall digital auf hochwertigem Filmmaterial und erlaubt auch für andere Kollegen eine Beurteilung bzw. Interpretation. Eine schriftliche Befundung der Untersuchung liegt in doppelter Ausführung bei.<br /><br />

        Röntgenbilder, die mittels digitaler Radiographie erstellt werden, bleiben auch als Bilddokumente in unserem System gespeichert. Bei Verlust ist jederzeit ein Neudruck des Bildes möglich. Ist Ihr zuweisender Arzt in ein elektronisches Datenübermittlungsnetz eingebunden, wird ihm der Befund zusätzlich digital zugestellt und automatisch in Ihren persönlichen Datensatz eingegliedert.<br /><br />

        Der Befund Ihrer Untersuchung bleibt im EDV-System unserer Ordination archiviert und kann somit jederzeit neu gedruckt und ausgefolgt werden.
      </Paragraph>

      <Heading size="2">
        Wann und wie erhalte ich meinen Befund?
      </Heading>

      <Paragraph class="">
        Die Befunde werden in unserem Institut meistens sofort erstellt, sodass eine Befundmitnahme nach der Untersuchung möglich ist. Rechnen Sie dafür mit einer Wartezeit von ca. 30 Minuten.
      </Paragraph>

    	<Footer />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
  },

  mounted () {
    this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)
    
  	if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>