<template>
	<div class="view fixed top-0 overflow-y-scroll overflow-x-hidden bottom-0 inset-x-0" ref="scroll">
		<div class="home flex flex-col w-full" id="view"> <!-- pt-6 md:pt-10 lg:pt-12 -->
	  	<Hero :scrollY="scrollY" />

	  	<Heading size="1">
	    	Herzlich Willkommen im Röntgeninstitut Dr. Herwig Enter
	    </Heading>

	    <Paragraph class="">
	    	Unsere Praxis ist ein voll-zertifiziertes Röntgeninstitut und besitzt das Mammazertifikat der Österreichischen Röntgen-Gesellschaft (ÖRG) und der Bundesfachgruppe Radiologie (BURA). Darüber hinaus sind wir aufgrund unseres Schwerpunkt-Bereiches Mammographie vollberechtigter Teilnehmer am Brustkrebs-Früherkennungsprogramm (BKFP).<br /><br />

	    	Unsere Tätigkeiten umfassen unter anderem:
	    </Paragraph>

	    <List class="font-medium">
	    	<ListItem>
	    		Digitale Röntgendiagnostik
	    	</ListItem>

	    	<ListItem>
	    		<router-link to="/de/mammographie" class="text-red-500">Mammographie</router-link> mit Sonographie/Ultraschall&nbsp;der Mammae/Brust
	    	</ListItem>

	    	<ListItem>
	    		<router-link to="/" class="text-red-500">Sonographie/Ultraschall</router-link>&nbsp;von Oberbauch, Nieren und Retroperitoneum, Unterbauch, Schilddrüse, Lymphknoten, Mammae, muskuläres System, Gelenke
	    	</ListItem>

	    	<ListItem>
	    		Ultraschall der Blutgefäße, Duplexsonographie der Carotiden
	  		</ListItem>

	    	<ListItem>
	    		<router-link to="/" class="text-red-500">Gefäßröntgen/Phlebographie</router-link>
	  		</ListItem>

	  		<ListItem>
	    		Tumornachsorge mittels Röntgen und Ultraschall
	  		</ListItem>

	  		<ListItem>
	    		Möglichkeit der sofortigen Befundmitnahme
	  		</ListItem>
	    </List>

	    <Paragraph class="leading-loose">
	    	Wir nehmen uns Zeit für Sie, um die Ergebnisse bzw. Befunde ausführlich mit Ihnen durchzusprechen!
	    </Paragraph>

	    <Heading size="2">Befundmitnahme beim Besuch</Heading>

	    <Paragraph class="leading-loose">
	    	Um Ihnen einen neuerlichen Besuch bei uns für die Befund-Abholung zu ersparen, bieten wir Ihnen als besonderen Service unseres Röntgeninstituts an, dass Sie Ihre Befunde auch gleich nach der Untersuchung mitnehmen können.<br /> <br />

	    	Näheres dazu finden Sie unter <router-link to="/" class="font-normal text-red-500">Befundung</router-link>.
	    </Paragraph>

	    <Heading size="2" class="leading-relaxed">Barrierefreie Ordination im Ärztezentrum West</Heading>

	    <Paragraph class="leading-loose">
	    	 Unser Institut ist barrierefrei erreichbar bzw. behindertengerecht und befindet sich im „Ärztezentrum West“ im 14. Bezirk, gemeinsam mit weiteren Ordinationen wie Haut/Dermatologie, Unfallchirurgie, Orthopädie, Hals-Nasen-Ohrenerkrankungen/HNO. Wir sind Mitbegründer des „Ärztezentrum West“.
	    </Paragraph>

	    <Paragraph class="leading-loose">
	    	 Mithilfe der folgenden Linien können Sie die Ordination mit öffentlichen Verkehrsmitteln erreichen:
	    </Paragraph>

	    <List class="text-kabul-700 font-medium">
	    	<ListItem>
	    		Straßenbahnlinie 49, Haltestelle Bahnhofstraße
	    	</ListItem>

	    	<ListItem>
	    		U4-Station Hütteldorf, S&nbsp;15, S&nbsp;45 und S&nbsp;50, Bahnhof Hütteldorf (5 bis 10 Gehminuten)
	    	</ListItem>

	    	<ListItem>
	    		Buslinie 147, Station Rosentalgasse
	    	</ListItem>
	    </List>

	    <Paragraph class="leading-loose">
	    	Alternativ können Sie diese Adresse für die Ankunft mit einem Fahrzeug oder zu Fuß nutzen:
	    </Paragraph>

	    <Paragraph class="">
        <span class="font-medium">Dr. Herwig Enter</span><br />
        Linzer Straße 383 &ndash; 385<br />
        A-1140 Wien
      </Paragraph>

	    <Paragraph class="leading-loose">
	    	Es gibt eine unlimitierte, kostenfreie Parkmöglichkeit am Parkplatz des Ärztezentrums!
	    </Paragraph>

	  	<Footer />
	  </div>
	</div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
  },

  data () {
  	return {
  		scrollY: 0,
  	}
  },

  mounted () {
  	this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', true)

  	this.$refs['scroll'].addEventListener('scroll', evt => {
  		this.scrollY = evt.target.scrollTop

  		if (this.$store.getters.isNavTransparencyEnabled) {
        if (evt.target.scrollTop < 20) {
          if (!this.$store.getters.isNavTransparent) {
            this.$store.commit('SET_NAV_TRANSPARENT', true)
          }
        } else {
          this.$store.commit('SET_NAV_TRANSPARENT', false)
        }
      }
  	})
  }
}
</script>

<style scoped lang="scss">
.home {
  overflow-y: scroll;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>