<template>
  <div class="view fixed top-15 md:top-18 overflow-y-scroll overflow-x-hidden bottom-0 inset-x-0">
    <div class="flex flex-col w-full pt-6 md:pt-10" id="view">
      <!--<Hero /> -->

      <Heading size="1">
        Lage, Kontakt und Anfahrt
      </Heading>

      <Paragraph>
         Unser Institut ist barrierefrei erreichbar bzw. behindertengerecht und befindet sich im „Ärztezentrum West“ im 14. Bezirk, gemeinsam mit weiteren Ordinationen wie Haut/Dermatologie, Unfallchirurgie, Orthopädie, Hals-Nasen-Ohrenerkrankungen/HNO. Wir sind Mitbegründer des „Ärztezentrum West“.
      </Paragraph>

      <Paragraph>
         Mithilfe der folgenden Linien können Sie die Ordination mit öffentlichen Verkehrsmitteln erreichen:
      </Paragraph>

      <List class="text-kabul-700 font-medium">
        <ListItem>
          Straßenbahnlinie 49, Haltestelle Bahnhofstraße
        </ListItem>

        <ListItem>
          U4-Station Hütteldorf, S&nbsp;15, S&nbsp;45 und S&nbsp;50, Bahnhof Hütteldorf (5 bis 10 Gehminuten)
        </ListItem>

        <ListItem>
          Buslinie 147, Station Rosentalgasse
        </ListItem>
      </List>

      <Paragraph>
         Alternativ können Sie folgende Adresse verwenden:
      </Paragraph>

      <Paragraph class="">
        <span class="font-medium">Dr. Herwig Enter</span><br />
        Linzer Straße 383 &ndash; 385<br />
        A-1140 Wien
      </Paragraph>

      <Paragraph>
        Es gibt eine unlimitierte, kostenfreie Parkmöglichkeit am Parkplatz des Ärztezentrums!
      </Paragraph>

      <Footer />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
  },

  mounted () {
    this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)

    if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
  .waiting-room {
    background-image: url("/herwig.strontium.space/assets/headers/ord2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
  }
</style>