<template>
  <div class="view fixed top-15 md:top-18 bottom-0 inset-x-0 overflow-y-scroll overflow-x-hidden">
    <div class="mammographie flex flex-col w-full pt-6 md:pt-10" id="view">
  	<!--<Hero /> -->
    	<Heading size="1">
      	Ihr Spezialist für Mammographie und Brustkrebs-Früherkennung in Wien
      </Heading>

      <Paragraph class="">
      	Die Mammographie ist eine Röntgenuntersuchung der weiblichen Brust und stellt mit Abstand die wichtigste Vorsorgeuntersuchung, den „Gold-Standard“, dar. In Kombination mit einer Sonographie/Ultraschalluntersuchung der Brust können auch kleinste Veränderungen im absoluten Frühstadium aufgedeckt werden.
      </Paragraph>

      <Heading size="2">
        Schmerzfreie Mammographie bei Dr. Herwig Enter
      </Heading>

      <Paragraph class="">
        Die digitale Mammographie arbeitet heute mit extrem verringerten Röntgendosen. Für die Erstellung optimaler Bilder muss die Brust kurzfristig etwas komprimiert werden – unser Institut ist bekannt dafür, die Untersuchung schmerzfrei durchzuführen!<br /> <br />
        
        Aufgrund unserer langjährigen Erfahrung auf dem Gebiet der Mammographie ist unser Institut ein Kompetenzzentrum für Brustkrebsfrüherkennung in Wien und bietet höchste Qualität in einem umfassenden Leistungspaket!
      </Paragraph>

      <Heading size="2">Aktuelle Informationen zum Brustkrebs-Früherkennungsprogramm (BKFP)</Heading>

      <List class="">
        <ListItem>
          Ab 1. Juli 2014 werden alle Frauen zwischen dem 45. und 49. Lebensjahr von der Versicherung über Computer automatisch „freigeschaltet“ und müssen somit nicht mehr auf die Einladung warten, sondern können sofort einen Termin vereinbaren – nur die E-Card ist notwendig. Bitte versichern Sie sich unter der gebührenfreien Telefonnummer <a class="text-primary" href="tel:0043800500181">0800 500 181</a>, dass Sie für die Untersuchung „freigeschaltet“ sind!
        </ListItem>

        <ListItem>
          Frauen zwischen dem 40. und 44. Lebensjahr sowie ältere Damen ab dem 70. Lebensjahr können auch an dem Programm teilnehmen, diese müssen sich aber telefonisch unter <a class="text-primary" href="tel:0043800500181">0800 500 181</a> anmelden!
        </ListItem>

        <ListItem>
          Einladungen werden weiter verschickt, sie dienen als Erinnerung und sind gültige Überweisungen.
        </ListItem>
      </List>

      <Heading size="2">Wichtige Informationen für Patienten aus anderen Bundesländern</Heading>

      <Paragraph>
        Unser Institut ist Teilnehmer am Früherkennungsprogramm und vollständig zertifiziert. Auf den Einladungen, die Sie erhalten, sind aus administrativen Gründen nur die jeweiligen Bundesländer-Röntgenordinationen angeführt.<br /> <br />

        Aber selbstverständlich sind Sie, auch wenn Sie nicht aus Wien kommen, bei uns herzlich willkommen! Rufen Sie uns gleich unter <a class="text-primary" href="tel:004319113805">01 / 911 38 05</a> an und vereinbaren Sie einen Termin!<br /> <br />

        Und - es gibt weiter normale Überweisungen zur Mammographie vom Hausarzt, Gynäkologen etc. – sie müssen nur entsprechend einer Indikationenliste anders gestaltet werden. Fragen Sie dazu bitte Ihren Arzt.
      </Paragraph>

    	<Footer />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
  },

  mounted () {
    this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)
    
  	if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>