<template>
  <div class="hello">
  	<h1>Heading Level 1</h1>
  	<h2>Heading Level 2</h2>
  	<h3>Heading Level 3</h3>
  	<h4>Heading Level 4</h4>
  	<h5>Heading Level 5</h5>


  	<p>
  		Cat ipsum dolor sit amet, ignore the squirrels, you’ll never catch them anyway. Rub face on owner my left donut is missing, as is my right please let me outside pouty face yay! wait, it’s cold out please let me inside pouty face oh, thank you rub against mommy’s leg oh it looks so nice out, please let me outside again the neighbor cat was mean to me please let me back inside destroy house in 5 seconds. Sleep on keyboard i’m so hungry i’m so hungry but ew not for that scratch leg; meow for can opener to feed me present belly, scratch hand when stroked play riveting piece on synthesizer keyboard. Burrow under covers.
  	</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  
}
</style>
