<template>
  <div class="view fixed top-15 md:top-18 overflow-y-scroll overflow-x-hidden bottom-0 inset-x-0"> <!--  'h-15 md:h-24'   : 'h-15 md:h-18' -->
    <div class="flex flex-col w-full pt-6 md:pt-10" id="view">
  	<!--<Hero /> -->

    	<Heading size="1">
      	Untersuchungen in unserer Röntgenpraxis
      </Heading>

      <Paragraph class="">
      	 In unserem Röntgeninstitut sind wir in der Lage, eine ganze Reihe wichtiger Untersuchungen durchzuführen.
      </Paragraph>

      <div class="topics">
        <ExaminationItem color="#f6a5b5" icon="mammogram">
          <template v-slot:heading>Mammographie mit Ultraschall der Brust</template>

          <List class="text-kabul-700 mt-6" disableSpacing>
            <ListItem>
              Vorsorge-Mammographie im Rahmen des Brustkrebs-Früherkennungsprogramms
            </ListItem>

            <ListItem>
              Diagnostische Mammographien bei allen Veränderungen der Brust
            </ListItem>

            <ListItem>
              Unser Institut besitzt das Mammazertifikat der Österreichischen Röntgen-Gesellschaft (ÖRG) und der Bundesfachgruppe Radiologie (BURA) und ist voll-zertifizierter Teilnehmer des Brustkrebs-Früherkennungsprogramms BKFP für alle Bundesländer!
            </ListItem>
          </List>
        </ExaminationItem>

        <ExaminationItem color="#efb04b" icon="lungs">
          <template v-slot:heading>Brustraum</template>

          <List class="text-kabul-700 mt-6" disableSpacing>
            <ListItem>
              Herz-Lungen-Röntgen
            </ListItem>

            <ListItem>
              Rippen
            </ListItem>
          </List>
        </ExaminationItem>

        <ExaminationItem color="#a5c84a" icon="baby">
            <template v-slot:heading>Sonographie/Ultraschall</template>

            <List class="text-kabul-700 mt-6" disableSpacing>
              <ListItem>
                Oberbauchorgane (Leber, Gallenblase, Gallenwege, Bauchspeicheldrüse, Milz)
              </ListItem>

              <ListItem>
                Wirbelsäulen-Ganzaufnahmen bei Skoliose
              </ListItem>

              <ListItem>
                Unterbauchorgane (Gebärmutter, Eierstöcke, Prostata, Harnblase)
              </ListItem>

              <ListItem>
                Hoden, Nebenhoden
              </ListItem>

              <ListItem>
                Halsweichteile (Lymphknoten, Speicheldrüsen, Mundboden)
              </ListItem>

              <ListItem>
                Schilddrüse, Nebenschilddrüsen
              </ListItem>

              <ListItem>
                Bewegungsapparat (Schulter, Knie, alle weiteren Gelenke, Sehnen/Achillessehne, Muskulatur)
              </ListItem>

              <ListItem>
                Lymphknoten - alle Körperabschnitte
              </ListItem> 

              <ListItem>
                Brust und Achseln
              </ListItem> 

              <ListItem>
                Gefäße – Arterien, Venen, Halsschlagader/Carotis und Beinvenen
              </ListItem>
            </List>
          </ExaminationItem>

          <ExaminationItem color="#4fd1a3" icon="xray">
            <template v-slot:heading>Skelettröntgen</template>

            <List class="text-kabul-700 mt-6" disableSpacing>
              <ListItem>
                Wirbelsäule (alle Abschnitte, Funktionsaufnahmen, orthopädische Aufnahmen)
              </ListItem>

              <ListItem>
                Wirbelsäulen-Ganzaufnahmen bei Skoliose
              </ListItem>

              <ListItem>
                Alle Gelenke sowie knöcherne Anteile der Extremitäten
              </ListItem>

              <ListItem>
                Schädel mit Spezialaufnahmen
              </ListItem>

              <ListItem>
                Nasennebenhöhlen
              </ListItem>
            </List>
          </ExaminationItem>

        <ExaminationItem color="#52ccda" icon="internal">
            <template v-slot:heading>Verdauungstrakt</template>

            <List class="text-kabul-700 mt-6" disableSpacing>
              <ListItem>
                Halsorgane, Schluckakt, Speiseröhre
              </ListItem>

              <ListItem>
                Magen-Zwölffingerdarm
              </ListItem>

              <ListItem>
                Dünndarm, Darmpassage
              </ListItem>

              <ListItem>
                Dickdarm (Irrigoskopie)
              </ListItem>
            </List>
          </ExaminationItem>

          <ExaminationItem color="#a8baf4" icon="kidney">
            <template v-slot:heading>Niere und Blase</template>

            <List class="text-kabul-700 mt-6" disableSpacing>
              <ListItem>
                I.v. Pyelographie/Nierenröntgen mit Darstellung von Nieren, Harnleiter, Harnblase, Harnröhre und Restharnbestimmung
              </ListItem>

              <ListItem>
                Nierenleeraufnahme
              </ListItem>
            </List>
          </ExaminationItem>

          <ExaminationItem color="#f49df3" icon="leg">
            <template v-slot:heading>Venenröntgen (Phlebographie)</template>

            <List class="text-kabul-700 mt-6" disableSpacing>
              <ListItem>
                Beine und Arme
              </ListItem>
            </List>
          </ExaminationItem>
      </div>

    	<Footer />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import SidebarLayout from '@/components/SidebarLayout.vue'
import Heading from '@/components/Heading.vue'
import Paragraph from '@/components/Paragraph.vue'
import List from '@/components/List.vue'
import ListItem from '@/components/ListItem.vue'
import Footer from '@/components/Footer'
import ExaminationItem from '@/components/ExaminationItem'

export default {
  name: 'Home',
  components: {
    Hero,
    SidebarLayout,
    Heading,
    Paragraph,
    List,
    ListItem,
    Footer,
    ExaminationItem,
  },

  mounted () {
    this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)
    
  	if (window.scrollY < 20) {
      if (!this.$store.getters.isNavTransparent) {
        this.$store.commit('SET_NAV_TRANSPARENT', true)
      }
    } else {
      this.$store.commit('SET_NAV_TRANSPARENT', false)
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}

.banner-img {
	background-image: url('/herwig.strontium.space/assets/images/herwig.jpg');
	//background-size: cover;
	background-position: center;
}
</style>