<template>
  <div class="home flex flex-col w-full bg-rose-300 pt-16" id="view">
    <div class="w-full flex flex-col align-left px-4 sm:px-10 lg:px-24 mt-2 xl:mt-24">
    	<Heading size="1" class="leading-snug">Untersuchungen in unserer Röntgenpraxis</Heading>

	    <Paragraph class="leading-loose">
	    	In unserem Röntgeninstitut sind wir in der Lage, eine ganze Reihe wichtiger Untersuchungen durchzuführen:
	    </Paragraph>

	    <div class="grid w-full h-auto gap-6 grid-cols-1 xl:grid-cols-2 mt-8">
    		<div class="flex flex-col h-auto">
    			<ExaminationItem color="#f6a5b5" icon="mammogram">
			    	<template v-slot:heading>Mammographie mit Ultraschall der Brust</template>

			    	<List class="text-kabul-700">
				    	<ListItem>
				    		Vorsorge-Mammographie im Rahmen des Brustkrebs-Früherkennungsprogramms
				    	</ListItem>

				    	<ListItem>
				    		Diagnostische Mammographien bei allen Veränderungen der Brust
				    	</ListItem>

				    	<ListItem>
				    		Unser Institut besitzt das Mammazertifikat der Österreichischen Röntgen-Gesellschaft (ÖRG) und der Bundesfachgruppe Radiologie (BURA) und ist voll-zertifizierter Teilnehmer des Brustkrebs-Früherkennungsprogramms BKFP für alle Bundesländer!
				    	</ListItem>
				    </List>
			    </ExaminationItem>

			    <ExaminationItem color="#efb04b" icon="lungs" class="mt-6 flex-grow">
			    	<template v-slot:heading>Brustraum</template>

			    	<List class="text-kabul-700">
				    	<ListItem>
				    		Herz-Lungen-Röntgen
				    	</ListItem>

				    	<ListItem>
				    		Rippen
				    	</ListItem>
				    </List>
			    </ExaminationItem>
    		</div>

    		<!-- RED       #f4889f   -->
    		<!-- ORANGE    #d89e43   -->
    		<!-- GREEN     #94b442   -->
    		<!-- TEAL      #46bc92   -->
    		<!-- BLUE      #49b7c4   -->
    		<!-- PURPLE    #8da6f1   -->
    		<!-- PINK.     #8da6f1   -->

    		<!-- LIGHTER vvvvvvvvvvv -->

    		<!-- RED       #f6a5b5   -->
    		<!-- ORANGE    #efb04b   -->
    		<!-- GREEN     #a5c84a   -->
    		<!-- TEAL      #4fd1a3   -->
    		<!-- BLUE      #52ccda   -->
    		<!-- PURPLE    #a8baf4   -->
    		<!-- PINK.     #f49df3   -->

		    <ExaminationItem color="#a5c84a" icon="baby">
		    	<template v-slot:heading>Sonographie/Ultraschall</template>

		    	<List class="text-kabul-700">
			    	<ListItem>
			    		Oberbauchorgane (Leber, Gallenblase, Gallenwege, Bauchspeicheldrüse, Milz)
			    	</ListItem>

			    	<ListItem>
			    		Wirbelsäulen-Ganzaufnahmen bei Skoliose
			    	</ListItem>

			    	<ListItem>
			    		Unterbauchorgane (Gebärmutter, Eierstöcke, Prostata, Harnblase)
			    	</ListItem>

			    	<ListItem>
			    		Hoden, Nebenhoden
			    	</ListItem>

			    	<ListItem>
			    		Halsweichteile (Lymphknoten, Speicheldrüsen, Mundboden)
			    	</ListItem>

			    	<ListItem>
			    		Schilddrüse, Nebenschilddrüsen
			    	</ListItem>

			    	<ListItem>
			    		Bewegungsapparat (Schulter, Knie, alle weiteren Gelenke, Sehnen/Achillessehne, Muskulatur)
			    	</ListItem>

			    	<ListItem>
			    		Lymphknoten - alle Körperabschnitte
			    	</ListItem>	

			    	<ListItem>
			    		Brust und Achseln
			    	</ListItem>	

			    	<ListItem>
			    		Gefäße – Arterien, Venen, Halsschlagader/Carotis und Beinvenen
			    	</ListItem>
			    </List>
		    </ExaminationItem>

    		<ExaminationItem color="#4fd1a3" icon="xray">
		    	<template v-slot:heading>Skelettröntgen</template>

		    	<List class="text-kabul-700">
			    	<ListItem>
			    		Wirbelsäule (alle Abschnitte, Funktionsaufnahmen, orthopädische Aufnahmen)
			    	</ListItem>

			    	<ListItem>
			    		Wirbelsäulen-Ganzaufnahmen bei Skoliose
			    	</ListItem>

			    	<ListItem>
			    		Alle Gelenke sowie knöcherne Anteile der Extremitäten
			    	</ListItem>

			    	<ListItem>
			    		Schädel mit Spezialaufnahmen
			    	</ListItem>

			    	<ListItem>
			    		Nasennebenhöhlen
			    	</ListItem>
			    </List>
		    </ExaminationItem>

			<ExaminationItem color="#52ccda" icon="internal">
		    	<template v-slot:heading>Verdauungstrakt</template>

		    	<List class="text-kabul-700">
			    	<ListItem>
			    		Halsorgane, Schluckakt, Speiseröhre
			    	</ListItem>

			    	<ListItem>
			    		Magen-Zwölffingerdarm
			    	</ListItem>

			    	<ListItem>
			    		Dünndarm, Darmpassage
			    	</ListItem>

			    	<ListItem>
			    		Dickdarm (Irrigoskopie)
			    	</ListItem>
			    </List>
		    </ExaminationItem>

		    <ExaminationItem color="#a8baf4" icon="kidney">
		    	<template v-slot:heading>Niere und Blase</template>

		    	<List class="text-kabul-700">
			    	<ListItem>
			    		I.v. Pyelographie/Nierenröntgen mit Darstellung von Nieren, Harnleiter, Harnblase, Harnröhre und Restharnbestimmung
			    	</ListItem>

			    	<ListItem>
			    		Nierenleeraufnahme
			    	</ListItem>
			    </List>
		    </ExaminationItem>

		    <ExaminationItem color="#f49df3" icon="leg">
		    	<template v-slot:heading>Venenröntgen (Phlebographie)</template>

		    	<List class="text-kabul-700">
			    	<ListItem>
			    		Beine und Arme
			    	</ListItem>
			    </List>
		    </ExaminationItem>
	    </div>
	</div>

  	<Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Heading from '@/components/Heading'
import Paragraph from '@/components/Paragraph'
import List from '@/components/List'
import ListItem from '@/components/ListItem'
import ExaminationItem from '@/components/ExaminationItem'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: {
    Heading,
    Paragraph,
    List,
    ListItem,
    ExaminationItem,
    Footer,
  },

  mounted () {
  	this.$store.commit('SET_NAV_TRANSPARENCY_ENABLED', false)
  }
}
</script>

<style scoped lang="scss">
.home {
  //background: #ffe9e9;
}

.quote {
  border-color: rgba(0, 0, 0, 0.2)
}
</style>