<template>
  <div class="flex h-auto w-auto flex-col bg-transparent mb-5 mx-2 md:mx-6 lg:mx-12 xl:rounded-2xl">
  	<div class="flex flex-col items-start md:flex-row">
  		<div class="flex icon-container justify-center items-center rounded-lg z-10" :class="[
  			'bg-kabul-100'// + color,
  		]" :style="color ? 'background: ' + color : ''">
			<img class="w-2/3 h-2/3 opacity-60 z-10" :src="'/herwig.strontium.space/assets/icons/' + icon + '.svg'" />
		</div>

		<Heading size="2" class="leading-normal my-3 md:ml-3" disableSpacing>
			<slot name="heading"></slot>
	    </Heading>
  	</div>

    <slot></slot>
</div>
</template>

<script>
import Heading from './Heading'

export default {
  name: 'ExaminationTopic',
  components: {
  	Heading,
  },
  props: {
    icon: String,
    color: String,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  
}

.icon-container {
	width: 63px;
	min-width: 63px;
	max-width: 63px;
	min-height: 63px;
	max-height: 63px;
	height: 63px;
}
</style>
