<template>
  <div class="footer mt-16 py-8 w-screen flex flex-col items-center justify-between px-6 sm:px-10 lg:px-24 text">
  	<div class="links text-center grid grid-cols-2 md:grid-cols-3 xl:flex w-full xl:w-auto items-center lg:flex-row text-red-500 text-normal">
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Impressum</router-link>	
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Datenschutz</router-link>	
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Cookies</router-link>
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Sitemap</router-link>
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Kontakt</router-link>
  		<router-link class="mb-4 xl:pr-10 xl:mb-0" to="/">Anmeldung</router-link>
  	</div>

  	<div class="mt-3 text-kabul-500">Dr. Herwig Enter,&nbsp;&nbsp;Linzer Straße 383 &ndash; 385,&nbsp;&nbsp;1140 Wien</div>

  	<!--<div class="flex flex-row items-center text-kabul-600 mt-8 xl:mt-0 ">
  		Crafted with love by <a href="https://daralucie.xyz"><img src="/herwig.strontium.space/assets/logos/daraluciexyz.svg" class="ml-2" style="height: 19px; transform: translateY(1px)" /></a>
  	</div>-->
  </div>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.footer {
  background: #F0C2C2;
}
</style>