<template>
  <div class="heading row font-medium" :class="[
    sizeClasses,
    disableSpacing ? '' : marginClasses,
  ]">
  	<slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Heading',
  props: {
  	// '1' to '6', with the smallest number being the largest font size
    size: String,
    // What the heading should display
    content: String,
    disableSpacing: Boolean
  },
  computed: {
  	sizeClasses () {
  		switch (this.size) {
        case 'hero':
          return 'text-2xl sm:text-3xl md:text-3xl lg:text-4xl text-kabul-700'

  			case '1':
  				return 'text-kabul-700 capsized-h1'

  			case '2':
  				return 'text-kabul-700 capsized-h2'

  			case '3':
  				return 'text-kabul-500 capsized-h3'
  		}
  	},

    marginClasses () {
      switch (this.size) {
        case 'hero':
          return 'mb-8 mt-8 mx-2 md:mx-6 lg:mx-12'

        case '1':
          return 'mb-9 mx-2 md:mx-6 lg:mx-12'

        case '2':
          return 'mb-6 mt-9 mx-2 md:mx-6 lg:mx-12'

        case '3':
          return 'mb-6 mt-9 mx-2 md:mx-6 lg:mx-12'
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.heading {
  border-color: rgba(0, 0, 0, 0.2);
}

.capsized-h1 {
  font-size: 40px;
  line-height: 49px;

  &::before {
    content: "";
    margin-bottom: -0.27em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.255em;
    display: table;
  }
}

.capsized-h2 {
  font-size: 30px;
  line-height: 42px;

  &::before {
    content: "";
    margin-bottom: -0.3575em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.3425em;
    display: table;
  }
}

.capsized-h3 {
  font-size: 20px;
  line-height: 35px;

  &::before {
    content: "";
    margin-bottom: -0.5325em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.5175em;
    display: table;
  }
}
</style>
