<template>
  <div class="hero flex bg-rose-600 relative w-screen mb-12 overflow-hidden">
  	<div class="content absolute inset-0 flex flex-col justify-center items-center" style="z-index: 5000;">
      <div class="flex flex-col justify-center items-center" :style="[{'opacity': contentOpacity}]">
        <Heading class="hidden md:flex max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-none leading-relaxed lg:leading-relaxed xl:leading-snug mt-16 text-center" size="1">
          Ihr Spezialist für schmerzfreie Mammographie in Wien
        </Heading>

        <Heading class="flex md:hidden max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-none leading-relaxed lg:leading-relaxed xl:leading-snug mb-6 text-center" size="2" disableSpacing>
          Ihr Spezialist für schmerzfreie Mammographie in Wien
        </Heading>

        <div class="text-kabul-600 flex md:hidden max-w-xl md:max-w-xl text-center font-normal leading-relaxed px-2 md:px-4 text-kabul-600 mb-4 md:mb-0">
          Als ehemaliger Leiter des Mammazentrums im Krankenhaus Lainz bzw. Hietzing zählt Dr. Herwig Enter zu den erfahrensten Radiologen in Wien. Darüber hinaus sind wir für unsere schmerzfreien Mammographie-Untersuchungen in Wien und Umgebung bekannt.
        </div> 

        <div class="text-kabul-600 hidden md:flex max-w-2xl text-center font-normal leading-relaxed px-2 md:px-4 text-kabul-600 mb-11 md:mb-0 capsizedText ">
          Als ehemaliger Leiter des Mammazentrums im Krankenhaus Lainz bzw. Hietzing zählt Dr. Herwig Enter zu den erfahrensten Radiologen in Wien. Darüber hinaus sind wir für unsere schmerzfreien Mammographie-Untersuchungen in Wien und Umgebung bekannt.
        </div>

        <div class="flex flex-row mt-0 mb-12 hidden md:flex">
          <div class="flex w-full md:w-auto justify-center items-center bg-primary text-md rounded-lg text-white h-7 px-3 select-none mt-8 cursor-pointer">Mehr erfahren</div>
        </div>
      </div>
    </div>

    <div class="absolute flex flex-row md:hidden h-7 left-2 bottom-6 right-2"  :style="[{'opacity': contentOpacity}]">
      <div class="flex w-full md:w-auto justify-center items-center bg-primary text-md rounded-lg text-white h-7 px-6 select-none cursor-pointer">Mehr erfahren</div>
    </div>

    <img class="w-screen absolute bottom-0 h-4 md:h-8 z-40" src="/herwig.strontium.space/assets/layout/bow-down.svg"  style="z-index: 5000;" />

    <div class="inset-0 absolute bg-image z-20" :style="[{'opacity': opacity}]">
    </div>
  </div>
</template>

<script>
import Heading from '@/components/Heading'
import Paragraph from '@/components/Paragraph'

export default {
  name: 'Hero',
  computed: {
    isNavTransparent () {
      return this.$store.getters.isNavTransparencyEnabled && this.$store.getters.isNavTransparent
    },
  },
  props: {
    scrollY: Number,
  },

  watch: {
    scrollY (value, oldValue) {
      this.opacity = 0.1 + ((0.6 / 400) * value)
      this.contentOpacity = 1 - ((1 / 100) * value)

      /*this.$store.commit(
        'SET_NAV_OPACITY',
        value > 100 ? 1.0 : value / 100,
      )*/

      if (this.opacity < 0) {
        this.opacity = 0
      }
    }
  },
  data () {
    return {
      images: [
        '/herwig.strontium.space/assets/headers/ord1.jpg',
        '/herwig.strontium.space/assets/headers/ord2.jpg',
        '/herwig.strontium.space/assets/headers/ord3.jpg',
      ],
      opacity: 0.1,
      contentOpacity: 1,
      contentScale: 1,
      scale: 1,
    }
  },
  mounted () {
    //this.startSlide();
  },

  methods: {
    onScrollEvent (scroll) {}
  },

  components: {
  	Heading,
    Paragraph,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.slider-enter-active,
.slider-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.slider-enter,
.slider-leave-to {
  visibility: hidden;
  opacity: 0;
}

.slider-image {
  transition: transform 8s linear;
}

.zoomed {
  transform: scale(1.1);
}

.hero {
  //background-image: url("/herwig.strontium.space/assets/headers/2.jpg");

  min-height: 700px;
  > * {
  	z-index: 3020;
  }

  .bg-image {
  	opacity: 0.6;
  	z-index: 3000;
    background-size: cover;
    background-position: center;
    background-image: url('/herwig.strontium.space/assets/headers/ord1.jpg')
  }
}

@media (max-width: 639px) {
  .hero {
    height: calc(100vh + 28px);
  }
}

@media (min-width: 640px) {
	.hero {
		height: calc(100vh + 56px);
	}
}
@media (min-width: 768px) {
  .hero {
    height: calc(100vh + 56px);
  }
}

.capsizedText {
  font-size: 20px;
  line-height: 35px;
}

.capsizedText::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.capsizedText::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}
</style>
