<template>
  <div class="flex flex-row items-center mb-7 last:mb-0 w-full">
      <div class="bullet-icon mr-2 lg:mr-4"></div>
      <div class="flex flex-row flex-grow item justify-start items-center h-full">
        <span class="wrap-none capsizedText">
          <slot></slot>
        </span>
      </div>
  </div>
</template>

<script>
export default {
  name: 'ListItem',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.bullet-icon {
  min-width: 12px;
  max-width: 12px;
  width: 12px;

  min-height: 2px;
  max-height: 2px;
  height: 2px;

  //background: rgba(0, 0, 0, 0.4);
  background: #A37575;
  user-select: none;
  pointer-events: none;
} 

.capsizedText {
  font-size: 20px;
  line-height: 35px;
}

.capsizedText::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.capsizedText::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}
</style>
