<template>
  <div class="list mb-10 text-kabul-600 flex flex-col w-auto 2xl:w-2/3" :class="[
  	disableSpacing ? '' : 'mx-2 md:mx-6 lg:mx-12',
  ]">
  	<slot></slot>
  </div>
</template>

<script>
export default {
  name: 'List',
  props: {
  	disableSpacing: Boolean,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.list {
	line-height: 30px;


 .bullet-icon {
 	width: 12px;
 	height: 2px;
 	background: rgba(0, 0, 0, 0.5);
 	background: #AD6C6C;
 	user-select: none;
 	pointer-events: none;
 } 
}
</style>
