<template>
  <div class="mobile-menu origin-top-right fixed inset-0 rounded-xl bg-white shadow-xl overflow-x-hidden overflow-y-scroll" :class="[{'enabled': isEnabled}]">
  	<div class="right fixed right-2 top-4 flex items-center text-kabul-700">
		<div class="flex w-8 h-8 cursor-pointer items-center justify-center" @click="closeMenu">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		</div>
	</div>

  	<div class="flex flex-col flex-grow w-screen h-screen justify-between">
	  	<div class="links flex flex-col w-full h-full pb-5 lg:grid lg:gap-y-1 lg:grid-cols-2 mr-4 lg:mr-0 text-lg p-4 md:p-6 lg:p-12 mt-3 font-medium">
	  		<router-link 
				class="transition-colors duration-150 mb-5 lg:mb-0 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary ui-content" 
				:class="[$route.name == 'Home' ? 'text-primary' : 'text-kabul-500']"
				@click="closeMenu"
				to="/">

				Home
			</router-link>

			<router-link 
				class="transition-colors duration-150 mb-5 lg:mb-0 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary ui-content" 
				:class="[$route.name == 'Untersuchungen' ? 'text-primary' : 'text-kabul-500']"
				@click="closeMenu"
				to="/de/untersuchungen">

				Untersuchungen
			</router-link>

			<router-link 
				class="transition-colors duration-150 mb-5 lg:mb-0 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary ui-content" 
				:class="[$route.name == 'Mammographie' ? 'text-primary' : 'text-kabul-500']" 
				@click="closeMenu"
				to="/de/mammographie">

				Mammographie
			</router-link>

			<router-link 
				class="transition-colors duration-150 mb-5 lg:mb-0 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary ui-content" 
				:class="[$route.name == 'Befundung' ? 'text-primary' : 'text-kabul-500']" 
				@click="closeMenu"
				to="/de/befundung">

				Befundung
			</router-link>

			<router-link 
				class="transition-colors duration-150  mb-5 lg:mb-0 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary ui-content" 
				:class="[$route.name == 'Anmeldung' ? 'text-primary' : 'text-kabul-500']" 
				@click="closeMenu"
				to="/de/anmeldung">

				Anmeldung
			</router-link>

			<router-link 
				class="transition-colors duration-150 lg:h-10 capsized-h1 transition-color duration-150 hover:text-primary  ui-content" 
				:class="[$route.name == 'Kontakt' ? 'text-primary' : 'text-kabul-500']" 
				@click="closeMenu"
				to="/de/kontakt">

				Kontakt
			</router-link>
	  	</div>

	  	<div class="flex flex-col w-full">
	  		<!--<div class="links grid grid-cols-2 gap-y-3 text-kabul-300 mb-8 px-4 md:px-6 lg:px-12">
	  			<span>Impressum</span>
	  			<span>Datenschutz</span>
	  			<span>Cookies</span>
	  			<span>Sitemap</span>
	  		</div>-->

		  	<div class="further-reading bgpink flex flex-col w-full px-3 md:px-6 lg:px-12 pt-3 pb-1">
		  		<div class="grid grid-cols-1 sm:grid-cols-2 gap-y-1 sm:gap-y-3">
		  			<a href="tel:+4319113805" class="phone flex flex-row text-kabul-400 mb-2 sm:mb-0 items-center ui-content">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>

			  			<span class="flex ml-2 text-kabul-700">01 / 911 38 05</span>
			  		</a>
			  		

			  		<a href="tel:+431911380516" class="fax flex flex-row text-kabul-400 mb-2 sm:mb-0 items-center ui-content">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>

			  			<span class="flex ml-2 text-kabul-700">01 / 911 38 05 16</span>
			  		</a>		  		

			  		<a href="mailto:dr.enter@roentgenbild.org" class="fax flex flex-row text-kabul-400 mb-2 sm:mb-0 items-center ui-content">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>

			  			<span class="flex ml-2 text-kabul-700">dr.enter@roentgenbild.org</span>
			  		</a>

			  		<div class="location flex flex-row text-kabul-400 mb-2 sm:mb-0 items-center ui-content">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>

			  			<span class="flex ml-2 text-kabul-700">Linzer Str. 383-385, 1140 Wien</span>
			  		</div>

			  		<div class="opening-hours flex flex-row text-kabul-400 mb-2 items-center flex sm:hidden ui-content">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>

			  			<span class="ml-2 text-kabul-700">Mo &ndash; Fr, 8:00 &ndash; 18:00</span>
			  		</div>
		  		</div>

		  		<div class="flex flex-row w-full justify-center hidden sm:flex mt-6 mb-1">
		  			<div class="opening-hours flex flex-row text-kabul-400 items-center bg-white shadow-xl px-2 py-1 rounded-lg">
			  			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>

			  			<span class="ml-2 text-kabul-700">Montag bis Freitag, 8:00 &ndash; 18:00</span>
			  		</div>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'MobileMenu',
  methods: {
  	closeMenu () {
  		this.$store.commit('SWITCH_MENU')
  	},
  },
  props: {
    isEnabled: Boolean,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mobile-menu {
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
	transform: scale(0.7);
	pointer-events: none;

	&.enabled {
		opacity: 1;
		//display: block;
		transform: scale(1);
		visibility: visible;
		pointer-events: all;
	}
}

.mobile-menu, .mobile-menu > * {
	z-index: 40000;
}

.capsized-h1 {
  font-size: 30px;
  line-height: 42px;

  &::before {
    content: "";
    margin-bottom: -0.3575em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.3425em;
    display: table;
  }
}

.capsized {
  font-size: 20px;
  line-height: 35px;
}

.capsized::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.capsized::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}

.further-reading {
	//background-color: #FCE3E3;
}

.bgpink {
	background: #FDE7EB;
}
</style>
