<template>
  <div class="navbar top-0 fixed w-screen z-40 transition-all duration-150" :class="[
    isTransparent ? 'bg-transparent' : 'white',
    isTransparent ? 'h-15 md:h-24'   : 'h-15 md:h-18',
    isTransparent ? ''               : 'shadow-lg',
    isTransparent ? ''               : 'blur',
  ]">
  	<div class="flex flex-row w-auto h-full justify-between mx-2 md:mx-6 lg:mx-12">
  		<div class="flex flex-row flex-grow-0 h-full justify-start min-w-0">
  			<div class="logo flex transform scale-75 sm:scale-80 md:scale-100 transition-transform  origin-left flex-row items-center"  :class="[isTransparent ? '' : 'smaller']">
  				<div class="icon">
  					<img src="/herwig.strontium.space/assets/logos/logo-icon.svg" class="h-10 w-10" style="min-width: 70px;" />
  				</div>
  				<div class="flex flex-col  mt-1 md:mt-2 ml-3 md:ml-6">
  					<div class="title font-medium text-kabul-600 mb-2 capsized italic transition-all">dr. med. univ.</div>
  					<div class="name font-medium xs:capsized-h2 sm:capsized-h2 capsized-h1 mb-2 transition-all">herwig&nbsp;<span class="text-primary" :class="[isTransparent ? '' : 'bigger']">enter</span></div>
  					<div class="subtitle mb-1 text-kabul-400 capsized transition-all" :class="[isTransparent ? 'text-kabul-600 mt-2' : 'text-kabul-400 mt-1']">Facharzt für Radiologie</div>
  				</div>
  			</div>
  		</div>
  		<div class="flex items-center h-full">
  			<div class="hidden 2xl:flex links text-md">
  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Home' ? 'text-primary' : 'text-kabul-600']" 
  					to="/">

  					Home
  				</router-link>

  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Untersuchungen' ? 'text-primary' : 'text-kabul-600']" 
  					to="/de/untersuchungen">

  					Untersuchungen
  				</router-link>

  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Mammographie' ? 'text-primary' : 'text-kabul-600']" 
  					to="/de/mammographie">

  					Mammographie
  				</router-link>

  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Befundung' ? 'text-primary' : 'text-kabul-600']" 
  					to="/de/befundung">

  					Befundung
  				</router-link>

  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Anmeldung' ? 'text-primary' : 'text-kabul-600']" 
  					to="/de/anmeldung">

  					Anmeldung
  				</router-link>

  				<router-link 
  					class="ml-8 transition-colors duration-150" 
  					:class="[$route.name == 'Kontakt' ? 'text-primary' : 'text-kabul-600']" 
  					to="/de/kontakt">

  					Kontakt
  				</router-link>
  			</div>

  			<div class="flex w-8 h-8 rounded-lg focus:ring-4 ring-rose-400 cursor-pointer items-center justify-center 2xl:hidden text-kabul-500" @click="enableMenu">
  				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
  			</div>
  		</div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  methods: {
    enableMenu () {
      this.$store.commit('SWITCH_MENU')
    }
  },
  props: {
    isTransparent: Boolean
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.navbar {

}

.white {
  background: #FFF;
}

@supports (backdrop-filter: none) {
  .blur {
    backdrop-filter: blur(20px);
  }

  .white {
  background: #FFFFFFBB;
}
}

.capsized-h1 {
  font-size: 40px;
  line-height: 49px;

  &::before {
    content: "";
    margin-bottom: -0.27em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.255em;
    display: table;
  }
}

@media screen and (min-width: 1280px) {
  .smaller {
    transform: scale(0.92);
  }
}

.capsized-h2 {
  font-size: 30px;
  line-height: 42px;

  &::before {
    content: "";
    margin-bottom: -0.3575em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.3425em;
    display: table;
  }
}

.capsized {
  font-size: 20px;
  line-height: 35px;
  transform-origin: center left;
}

.capsized::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.capsized::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}

.links {
  font-size: 18.5714px;
  line-height: 34px;
}

.bigger {
  transform: scale(1.04);
}
</style>
