<template>
  <p 
  	class="paragraph capsizedText w-auto text-kabul-600 mb-10"
  	:class="[
  		disableMaxWidth ? '' : '2xl:w-2/3',
  		disableSpacing  ? '' : 'mx-2 md:mx-6 lg:mx-12'
  	]">
		<slot></slot>
	</p>
</template>

<script>
export default {
  name: 'Paragraph',
  props: {
    disableMaxWidth: Boolean,
    disableSpacing: Boolean,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.paragraph {
  line-height: 30px;
  //background: #CCCC6655;
}


.capsizedText {
  font-size: 20px;
  line-height: 35px;
}

.capsizedText::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.capsizedText::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}
</style>
