<template>
  <p class="mb-9 text-kabul-600 lg:max-w-5xl">
		<slot></slot>
	</p>
</template>

<script>
export default {
  name: 'Paragraph',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  
}
</style>
