<template>
  <div class="sticky-sidebar-layout flex flex-row px-4 sm:px-10 lg:px-24 pt-18 bg-rose-300">
		<div class="w-full pt-16 flex flex-col 2xl:w-3/4 align-left">
			<slot name="main"></slot>
		</div>
		<div class="hidden 2xl:flex flex-col w-1/4">
			<slot name="aside"></slot>
		</div>
	</div>
</template>

<script>
export default {
  name: 'SidebarLayout',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  
}
</style>
