<template>
  <div class="top-bar top-0 left-0 hidden 2xl:block fixed w-full h-7 border-b border-rose-700 bg-white z-40">
  	<div class="flex flex-row justify-between items-center mx-2 md:mx-6 lg:mx-12">
  		<div class="flex flex-row items-center h-full">
  			<a href="tel:+4319113805" class="flex flex-row items-center h-7 mr-10 cursor-pointer">
  				<span class="text-darkrose">
  					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone lg:mr-3"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
  				</span>

  				<span class="hidden lg:flex text-kabul-600">01 / 911 38 05</span>
  			</a>

  			<a href="mailto:dr.enter@roentgenbild.org" class="flex flex-row items-center h-7 mr-10 cursor-pointer">
  				<span class="text-darkrose">
  					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail lg:mr-3"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
  				</span>

  				
  				<span class="hidden lg:flex text-kabul-600">dr.enter@roentgenbild.org</span>
  			</a>
  		</div>
  		<div class="flex flex-row items-center text-kabul-600 h-full">
  			<span class="flex mr-3">Mo-Fr 8:00 &ndash; 18:00</span>

  			<span class="text-darkrose">
  				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
  			</span>
  		</div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'Bar',
  props: {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.top-bar {
  z-index: 30000;
}
</style>
