<template>
  <div class="relative flex flex-col">
    <!-- <Bar /> -->
    <Nav :isTransparent="isNavTransparent" />
    <router-view/>

    <MobileMenu :isEnabled="isMenuEnabled" />

    <div class="baseline-grid absolute w-full left-0 top-0 z-50"></div>
  </div>
</template>

<script>
import Bar from '@/components/TopBar'
import Nav from '@/components/Navbar'
import MobileMenu from '@/components/MobileMenu'

export default {
  name: 'App',
  components: {
    Bar,
    Nav,
    MobileMenu,
  },

  computed: {
    isNavTransparent () {
      return this.$store.getters.isNavTransparent
    },

    isMenuEnabled () {
      return this.$store.getters.isMenuEnabled
    },
  },
}
</script>

<style lang="scss">
@font-face {
    font-family: 'Basier';

    src: url('/herwig.strontium.space/fonts/basiercircle-regular-webfont.woff2') format('woff2'),
         url('/herwig.strontium.space/fonts/basiercircle-regular-webfont.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/herwig.strontium.space/fonts/basiercircle-regularitalic-webfont.woff2') format('woff2'),
         url('/herwig.strontium.space/fonts/basiercircle-regularitalic-webfont.ttf') format('truetype');

    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Basier';

    src: url('/herwig.strontium.space/fonts/basiercircle-medium-webfont.woff2') format('woff2'),
         url('/herwig.strontium.space/fonts/basiercircle-medium-webfont.ttf') format('truetype');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/herwig.strontium.space/fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
         url('/herwig.strontium.space/fonts/basiercircle-semibold-webfont.ttf') format('truetype');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/herwig.strontium.space/fonts/basiercircle-bold-webfont.woff2') format('woff2'),
         url('/herwig.strontium.space/fonts/basiercircle-bold-webfont.ttf') format('truetype');

    font-weight: 700;
    font-style: normal;
}

html, body, #app {
  background: #ffe9e9;
  font-size: 18px;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.baseline-grid {
  background-image: url("/assets/layout/baseline-7.png");
  pointer-events: none;
}

#app {
  width: 100vw;
  background: #ffe9e9;
  background: #FCE3E3;
  font-family: 'Basier', Helvetica, Arial, sans-serif;
  //line-height: 1.75rem;
}

.text {
  font-size: 20px;
  line-height: 35px;
}

.text::before {
  content: "";
  margin-bottom: -0.5325em;
  display: table;
}

.text::after {
  content: "";
  margin-top: -0.5175em;
  display: table;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s, transform .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.8);
}

#view {
  overflow-x: hidden;
}
</style>
